#! /usr/bin/env bash
#File: assembly.config


##########
#Specify Basic Parameters
##########

#iterations
num_it=1

#output directory
site_dir=
#Specify reads 
reads=(3656745)


#Specify threads
threads=32

#Fraction of reads
fraction=1

#Contig threshold
contig_min=3000

##########
#SRA Toolkit
##########

#Set download to 1 if reads require downloading. Anything else to skip downloading
download=0

##########
#Deduplication
##########

#Set dedupe to 1 if reads require deduplication 
dedupe=1

##########
#Subsample
##########

#Set sub to 1 if reads require subsampling to value of fraction; bootstrap to 1 if with replacement
sub=0

##########
#Trimmomatic
##########

#Set trimm to 1 if reads require removing adapters with Trimmomatic
trimm=1

##########
#Megahit
##########

#Set mega to 1 to assemble trimmed_reads into contigs
mega=0

##########
#CDHit
##########

#Set remove to 1 to remove completely overlapping contig
overlap=0

##########
#AMOS/minimus2
##########

#Set amos and multiple sites to 1 to run amos/minimus2; initial assembly for reference alignment in Bowtie2
amos=0
multiple_sites=0

#########
#Bowtie2
#########

#Set bowtie to 1 for bowtie2 to assemble trimmed reads
bowtie=0

#########
#Binsanity
#########

#Set binsanity to 1 for binsanity to generate MAGs/cluster
binsanity=0

